<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="script.js"></script>
  <title>Hello {{ prenom }}</title>
</head>
<body>
    <p>Vous êtes sur mon site web</p>
    <h1>Bonjour {{prenom}} vous avez {{age}} ans</h1>
 
</body>
</html>